body{
    height: 100vh;
    margin: 0;
    padding: 0;
}
.fix{
    top: -10px;
    position: fixed;
    z-index: 1000;
    background-color: #fff;
}
.navigation{
    padding-top: 10px;
     display: grid;
     grid-template-columns: 400px 1050px 260px;
     grid-auto-rows: 100px;
     grid-auto-rows: minmax(50px, auto);
     grid-column-gap: 40px;
     margin-bottom: -35px;
     position: relative;
     
     justify-content: center;
  }
  .nav1{
   
  }
  .img1{
     margin-top: -95px;
     justify-content: center;
     margin-left: 50px;
     
  }
  .img2{
     margin-top: 5px;
     width:75%;
     height: 100%;
         justify-content: center;
    
    
  }
  .text_p{
     margin-top: 20px;
     margin-left: 150px;
     justify-content: center;
     font-size: 20px;
     text-align: center;
  }
  .nav2{
     display: grid;
     grid-column-start: 2; 
     grid-column-end: 3; 
     grid-row-start: 2; 
     grid-row-end: 3;
     margin-top: -30px;
     position: relative;
     font-size: 19.6px;
     
  }
  .nav2 a{
     text-decoration: none;
     color: #000;
    margin-left: 80px;
  margin-top: -10px;
    font-weight: bold;
    background-image: linear-gradient(#F60018, #F60018);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
  }
  .nav2 a:hover{
     
     background-size: 100% 2px;
     
  }
  .nav3{
  
     background: #F60018;
     width: 100%;
     text-align: center;
     justify-content: center;
     height: 60px;
     
  }
  .nav3 p{
     margin-top: 20px;
     margin-right:150px;
     color: #fff;
     
  }
.top_footer{
    background: #000;
    height: auto;
    padding-bottom: 70px;
}
.foot{
margin-top: 70px; 
    position: relative;
    margin-left: 115px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    width: 400px;
    font-family: 'Roboto', sans-serif;
    


}
.foot img{
    padding-bottom: 10px ;
}
.contact-info i{
    position: relative;
    color: #FFB300;
    padding: 8px;
    
    
}
.contact-info li{
    position: relative;
    color: #fff;
    padding: 8px;
  margin-left: 100px;
}
.footer{
    padding: 10px;
    background: #222121;
    color: #fff;
    
}
.footer p{
    margin-top: -20px;
    position: relative;
    text-align: right;
    font-size: 16px;
   
    
}
.footer span{ 
    margin-left: 105px;
}
.footer i{
    font-size: 18px;
    text-decoration: none;
    color: #fff;
}
.footer i:hover{
    color:#FFB300;
}

.container{
    width: 100%;
    height: 50%;
    position: relative;
    
    background: url(../img/fon-container.jpg);

    background-position: 0px 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.page-title-ul{
z-index: 1000;
    color: #fff;
    position: absolute;
   
    margin-top: 150px;
    margin-left: 100px;
    line-height: 2.3;
    
  
}
.page-title span{
   
    background: #FFB300;
    position: absolute;
    z-index: 1000;
    width: 0.2%;
    height: 35%;
    margin-top: 160px;
    margin-left: 80px;
}
.li1{
    font-size: 40px;
    font-style: oblique;
    font-family: 'Roboto', sans-serif;
}
.li2{
    font-size: 24px;
}
.services{
    background: #fff;
}
#service-text{
    position: relative;
    text-align: center;

}


#service-text { margin: 65px }
#service-text div { text-transform: uppercase; color: #000; 
          -webkit-transition: all 0.12s ease-out;
          -moz-transition: all 0.12s ease-out;
          -o-transition: all 0.12s ease-out;
}
#service-text div:nth-child(1) { font-size: 40px; letter-spacing: 1px;}
#service-text div:nth-child(2) { font-size: 28px; letter-spacing: 1zpx; }
#service-text div:nth-child(3) { font-size: 17px; letter-spacing: 0.8px; }

#service-text div:hover { -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); text-shadow: 3px 3px 3px #b2b2b2; }





.break { clear:both; }

#wrapper { width:auto; margin: auto; }


#content { }
#content .info { padding:10px; }


#movieposters { list-style:none; 
    margin:100px 0; 
    height:550px; }
#movieposters li { display:inline;
     float:left;
      padding-left: 120px;
    -webkit-perspective: 500;
     -webkit-transform-style: preserve-3d;
    -webkit-transition-property: perspective; 
    -webkit-transition-duration: 0.5s; }
#movieposters li:hover { -webkit-perspective: 5000; }
	
#movieposters li img { border:10px solid #fcfafa; 
    -webkit-transform: rotateY(30deg);
    -moz-box-shadow:0 3px 10px #888; 
    -webkit-box-shadow:0 3px 10px #888;
    -webkit-transition-property: transform;
     -webkit-transition-duration: 0.5s; }
#movieposters li:hover img { -webkit-transform: rotateY(0deg); }
#movieposters img{
    width:300px;
    height: 300px;
}
.movieinfo { border:10px solid #fcfafa; padding:10px; width:300px; height:250px; background-color:#deddcd; margin:-195px 0 0 55px; position:absolute;
	-moz-box-shadow:0 20px 40px #888; -webkit-box-shadow:0 20px 40px #888;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin; -webkit-transition-duration: 0.5s; }
	
#movieposters li:hover .movieinfo { -webkit-transform: rotateY(0deg); -webkit-box-shadow:0 5px 10px #888; margin:-135px 0 0 -30px; }
	
.movieinfo h3 { color:#F60018; 
    
    
      text-align:center;
       padding-bottom:15px; }
.movieinfo p { padding-bottom:15px; text-align: center;}
.movieinfo a { background-color:#F60018; padding:5px 10px;
     color:#eee; 
     text-decoration:none;
      display:block;
       width:100px; 
       text-align:center; 
       margin:auto;
    -moz-border-radius:5px;
     -webkit-border-radius:5px; }
.movieinfo a:hover, .movieinfo a:focus { background-color:#F60018; 
    color:#fff; }

    .ribbon {
        padding: 0 25px;
        height: 80px;
        margin-top: 40px;
        
        color: #fff;
        
        background-color: #c94700;
     
        background-image: -webkit-linear-gradient(top, #F60018, #b84100); 
        background-image:    -moz-linear-gradient(top, #F60018, #b84100); 
        background-image:     -ms-linear-gradient(top, #F60018, #b84100); 
        background-image:      -o-linear-gradient(top, #F60018, #b84100); 
        background-image:         linear-gradient(top, #F60018, #b84100);
        
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
            
        position: relative;
        float: left;
     
        
        font-family: 'Montez', cursive;
        font-size: 32px;			
        line-height: 80px;
        text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
        
        -moz-box-shadow:        -7px 7px 0px rgba(0, 0, 0, 0.3); 
        -webkit-box-shadow:    	-7px 7px 0px rgba(0, 0, 0, 0.3); 
        box-shadow:             -7px 7px 0px rgba(0, 0, 0, 0.3);
        
        border-bottom-right-radius: 20px 5px;
        }
        .ribbon1 {
          padding: 0 25px;
          height: 80px;
          margin-top: 40px;
          
          color: #fff;
          margin-left: 100px;
          background-color: #c94700;
       
          background-image: -webkit-linear-gradient(top, #F60018, #b84100); 
          background-image:    -moz-linear-gradient(top, #F60018, #b84100); 
          background-image:     -ms-linear-gradient(top, #F60018, #b84100); 
          background-image:      -o-linear-gradient(top, #F60018, #b84100); 
          background-image:         linear-gradient(top, #F60018, #b84100);
          
          border-bottom: 1px solid rgba(255, 255, 255, 0.3);
              
          position: relative;
          float: left;
       
          
          font-family: 'Montez', cursive;
          font-size: 32px;			
          line-height: 80px;
          text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
          
          -moz-box-shadow:        -7px 7px 0px rgba(0, 0, 0, 0.3); 
          -webkit-box-shadow:    	-7px 7px 0px rgba(0, 0, 0, 0.3); 
          box-shadow:             -7px 7px 0px rgba(0, 0, 0, 0.3);
          
          border-bottom-right-radius: 20px 5px;
          }
          
        
    .ribbon:after {
        content: "";	
        display: block;
        width: 40px;
        height: 0px;
        
        position: absolute;
        right: 0;
        bottom: 4px;
        z-index: 20;
        
        border-bottom: 80px solid #F60018;
        border-right: 80px solid transparent;
        
        -webkit-transform: rotate(90deg);
        -webkit-transform-origin: right bottom;
        -moz-transform: rotate(90deg);
        -moz-transform-origin: right bottom;
        -o-transform: rotate(90deg);
        -o-transform-origin: right bottom;
        -ms-transform: rotate(90deg);
        -ms-transform-origin: right bottom;
        transform: rotate(90deg);
        transform-origin: right bottom;
        }	
        .ribbon1:after {
          content: "";	
          display: block;
          width: 40px;
          height: 0px;
          
          position: absolute;
          right: 0;
          bottom: 4px;
          z-index: 20;
          
          border-bottom: 80px solid #F60018;
          border-right: 80px solid transparent;
          
          -webkit-transform: rotate(90deg);
          -webkit-transform-origin: right bottom;
          -moz-transform: rotate(90deg);
          -moz-transform-origin: right bottom;
          -o-transform: rotate(90deg);
          -o-transform-origin: right bottom;
          -ms-transform: rotate(90deg);
          -ms-transform-origin: right bottom;
          transform: rotate(90deg);
          transform-origin: right bottom;
          }	
        
    .ribbon1:before {
        content: "";	
        display: block;
        width: 20px;
        height: 0px;
        
        position: absolute;
        right: 0;
        bottom: 4px;
        z-index: 10;
        
        border-bottom: 80px solid rgba(0, 0, 0, 0.3 );
        border-right: 80px solid transparent;
        
        -webkit-transform: rotate(80deg);
        -webkit-transform-origin: right bottom;
        -moz-transform: rotate(80deg);
        -moz-transform-origin: right bottom;
        -o-transform: rotate(80deg);
        -o-transform-origin: right bottom;
        -ms-transform: rotate(80deg);
        -ms-transform-origin: right bottom;
        transform: rotate(80deg);
        transform-origin: right bottom;
        }	
        
  
    .ribbon1#ff-proof:after {	
        width: 0px;
        height: 40px;
        
        position: absolute;
        right: -160px;
        
        border-left: 80px solid #F60018;
        border-bottom: 80px solid transparent;
        
        -webkit-transform: none;
        -moz-transform: none;
        -o-transform: none;
        -ms-transform: none;
        transform: none;
        }
        .tic{
          
            padding: 165px 0 180px 0;
            background: url(../img/black-linen.png); 
        }

        .back_to_top {
            position: fixed;
            bottom: 80px;
            right: 40px;
            z-index: 9999;
            width: 40px;
            height: 40px;
            text-align: center;
            line-height: 30px;
            background: #FFB300;
            color: #FFF;
            cursor: pointer;
            border-radius: 2px;
            display: none;
          }
          
          .back_to_top:hover {
            background: #F60018;
          }
          
          .back_to_top-show {
            display: block;
          }