.nav-menu{
    width: 20%;
    
    }
    .social-link{
      font-size: 26px;
      margin-top: -25px;
      margin-right: 40px;
      float: right;
    }
    .social-link i:hover{
      color: #F60018;
  
      transition: .5s;
    }
  
    .nav-item{
    padding:0 10px;
    }
    .nav-link{
      text-decoration: none;
      color: #e01533;
      font-size:16px;
      border-bottom: 2px solid transparent;
      transition: .3s;
      font-weight: bold;
    }
    .nav-link:hover{
      border-bottom: 2px solid #e01533;
    
    }
    
    @keyframes place{
      0%{
          margin-top: -5px;
      }
      50%{
          margin-top: 5px;
      }
      100%{
          margin-top: -5px;
      }
    
    }
    .burger-link{
      display: none;
      position: relative;
      top: 40%;
     left: 1%;
      height: 40px;
      width: 40px;
      border-radius: 50%;
    
      background: #fff;
      z-index: 100;
    
    }
    .burger-link span, .burger-link span:before, .burger-link span:after{
      display: block;
      height: 2px;
      width: 18px;
      background-color: #000;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -9px;
      margin-top: 0;
    }
    .burger-link span:before{
    transition: all .3s;
    margin-top: -6px;
    content: '';    
    }
    .burger-link span::after{
      transition: all .3s;
      margin-top: 4px;
      content: '';    
    }
    .burger-link_active span:before{
     transform: rotate(45deg);
     margin-top: 0;
    }
    .burger-link_active span:after{
      transform: rotate(-45deg);
      margin-top: 0;
    }
    .burger-link_active span{
    background:transparent;
    }
    
    .mobile-nav{
       position: absolute;
       display: flex;
       justify-content: left;
       align-items: left;
       width: 24%;
       height: 120vh;
       margin-top: -60px;
       background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../img/photo2.jpg);
       transition: .5s;
       z-index: 99;
       left: -100%;
    }
    .nav-active{
       left: 0;
    }
    .mobile-menu{
       list-style: none;
       text-align: center;
       margin-top: 70px;
    }
    .menu-item{
       display: flex;
       justify-content: left;
       align-items: left;
       margin: 30px;
       
    
    }
    
    .menu-link{
       color: #fff;
       font-size: 18px;
       letter-spacing: 1px;
      text-decoration: none;
      z-index: 1;
      margin-left: -15px;
    }
    .menu-item span{
      color: #FFB300;
      margin-left: 5px;
      
    }
    .menu-item i{
      color: #FFB300;
      margin-left: -15px;
    }
    @media screen and (max-width:2560px){ .img2{
      margin-left: 40px;
    width: 14.3% !important;
    height: 7% !important;
        }}
        @media screen and (max-width: 2000px){
          .nav3 {margin-left: 10px !important; width: 100%;}
          .nav3 p{
            margin-left: 60px !important;
          }
          .nav2{margin-left: 70px;}
          .slider{margin-top:120px;}
          .img2{height: 6% !important;}
          .fon p{margin-left: 550px;}
        }
        @media screen and (max-width: 1800px){ .img2{height: 6% !important;}}
    @media screen and (max-width:1600px){
     
         #service-text{
             font-size: 24px;
             text-align: center;
             width: 83.5%;
             margin-left: 110px;
         }
         .img2{height: 85% !important;
          margin-top: 5px;
        width: 15% !important;}
        .nav3{
          width: 100%;
          margin-left: 40px;
        }
        
        .nav2{
          margin-left: 10px;
          font-size: 17px;
        }
     .nav3{ width: 110%;}
     .img2{height: 8% !important;}
        .nav3 p{
         
          margin-left: 1px !important;
          font-size: 15px;
          
          
        }
        .fon p{margin-left: 550px;}
      .fon a{ margin-left: 100px;}
          .form{
            margin-left: 280px;
          }
          .footer p{
            margin-left: 200px;
          }
          .map{width: 100px;height: 300px;}
    }
    @media screen and (max-width:1400px){}
    .img1{
      left: -5px;
    }
    .map{width: 45% !important; margin-left: 680px !important; margin-top: -300px !important;}
    
   
    .slider__slide-subheading{
        font-size: 18px;
    }
    .text_p{
      max-width: 100%;
      margin-left: 70px;
      font-size: 18px;
      
      }
      #men{
        margin-left: 330px;
      }
     
      .nav3 {
        max-width: 100%;
        margin-left:-38px;
        left: calc(50% -820px);
        }
        .nav3 p{
          margin-left: -35px;
        }
      .nav2{
        max-width: 90%;
    left:-95px;
    left: calc(50% - 620px);
      }
   
        
      
    @media screen and (max-width:1300px){
      .nav{
        grid-template-columns: 1fr;
      }
      .programs{ margin-left: -23px;}
      .prog1{width: 35%;}
      .img1{
        left: -20px;
      }
      
      .img2{
    margin-left: -5px;
      }
      .slider__slide-subheading{
        font-size: 14px;
    }
      .text_p{
        max-width: 65%;
        margin-left: 105px;
        font-size: 18px;
        
        }
        .nav2{
          max-width: 90%;
    left:-85px;
    left: calc(50% - 645px);
    
          }
          .nav3 {
            max-width: 95%;
            margin-left:-33px;
            left: calc(50% - 520px);
            }

    }
    @media screen and (max-width: 1370px){
      .nav2{ margin-left: -40px; font-size: 15.5px;}
      .nav3 p{ margin-right:150px; }
   
      .img2{
        margin-left: 27px;
        width: 16.3% !important;
        height: 11.3% !important;
          }
          .nav3 {
            margin-left: -40px !important;
          }
          .nav3 p{margin-left: -120px !important;}
          .fon p{margin-left: 350px;}
          .fon a{ margin-left: -50px;}
    }
    @media screen and (max-width: 1200px){
      .img1{
        left: -20px;
        margin-top: 1px;
        width: 20%;
      }
      .map{
        width: 30% !important;
        margin-left: 680px !important;
      
    }
    .footer p{margin-left:200px ;}
      .fon a{
        margin-left: 40px;
      }
      .fon p{ margin-left: 230px;}
      .card{
        display:  grid;
        grid-template-columns: 300px 300px 300px;
        
        grid-auto-rows: minmax(330px, auto);
    
      font-size:18px ;
        position: relative;
        
        justify-content: center;
        margin-top: -80px;
      }
      .slider__slide-subheading{
          font-size: 14px;
      }
      .contact-about-us1{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-auto-rows: 200px;
        grid-auto-rows: minmax(300px, auto);
        grid-column-gap: 40px;
        grid-row-gap: 5em;
        position: relative;
        font-size: 18px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 30px;
        
      
    }
  #container1{
    margin-left: 30px;
  }
  .contact-about-us1{
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-auto-rows: 200px;
        grid-auto-rows: minmax(300px, auto);
        grid-column-gap: 40px;
        grid-row-gap: 5em;
        position: relative;
        font-size: 18px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 30px;
        
      
    }
    .contact-about-us1 p{
      font-size: 20px;
    }
    .contact-about-us1 img{
      margin-left: 80px;
    }
    .contact-about-us{
      display: grid;
      grid-template-columns: 300px 300px 300px;
      grid-auto-rows: 200px;
      grid-auto-rows: minmax(300px, auto);
      grid-column-gap: 40px;
      grid-row-gap: 5em;
      position: relative;
      font-size: 18px;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      line-height: 30px;
    }
    .contact-about-us p{
      font-size: 16px;
    }
    .contact-about-us img{
      margin-left: 80px;
    }
 
      .img2{
    margin-left: -12px;
    width: 16% !important;
    height: 9% !important;
      }
      .bottom_info{
        display: grid;
        grid-template-columns: 200px 200px 200px;
        grid-auto-rows: 200px;
          grid-column-gap: 100px;
        grid-row-gap: 5em;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        
    }
    
     
      .nav{
        max-width: 80%;
        font-size: 16px;
        
        }
        .nav2{
          max-width: 90%;
      
          font-size:15.5px;
          
                left: calc(50% - 820px);
          
          }
          .nav2 a{
            margin-left: 73px;
          }
          .nav3 {
            max-width: 95%;
            font-size:14px;
            margin-left:-170px !important;
            left: calc(50% - 706px);
            margin-bottom: 45px;
          }
          .nav3 p{margin-left: -200px !important;}
          .tic h1{
            font-size: 28px;
          }
    
     .nav3 i{
       margin-left: -50px;
     }
     .nav3 p{
       margin-right: 150px;
     }
    
   
    
    
      
    }
    @media screen and (max-width: 1150px){
.img2{
  height: 7.5% !important;
}
.nav3 p{
  margin-left: -20px;
}
.nav2{margin-left: 65px;}
.prog1{width: 30%;}
.prog2{width: 13%;}
.prog3{width: 15%;}
    }
    @media screen and (max-width: 1080px){
      .img2 {
        margin-top: 30px;
        height: 8% !important;
      }
    }
      @media screen and (max-width: 1000px){
        .services1 span{
          margin-left: -125px;
        }
        .fon{ width: 104%;}
        .fon p{
          margin-left: 300px;
        }
        .fon a{ margin-right: -200px; margin-top: -100px; 
        }
        .services h1{
          margin-left: 400px;
        }
          .navigation{
    
    margin-top: -300px;
    font-size: 0.1px;
    width: 0.1%;
          }
       
          .burger-link{
            margin-top: 30px;
          }
    .tic{
      margin-top: -100px;
    }
    
    .slider {
      margin-top: -10px;
      width: 102%;
    }
    .slider__control{
      width: 40px;
      height: 40px;
      margin-top: 10px;
    }
    .card{
      display:  grid;
        grid-template-columns: 250px 250px 250px;
        
        grid-auto-rows: minmax(330px, auto);
    
      font-size:18px ;
        position: relative;
        
        justify-content: center;
        margin-top: -80px;
        margin-left: 15px;
    }
    .card h2{
      font-size: 18px;
    }
    .card p{
      font-size: 18px;
    }
    .bottom_info{
      display: grid;
      grid-template-columns: 150px 150px 150px;
      grid-auto-rows: 200px;
        grid-column-gap: 100px;
      grid-row-gap: 5em;
      position: relative;
      justify-content: center;
      text-align: center;
      padding-top: 50px;
      
  }
  .contact-about-us1{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-auto-rows: 200px;
    grid-auto-rows: minmax(300px, auto);
    grid-column-gap: 20px;
    grid-row-gap: 5em;
    position: relative;
    font-size: 18px;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    line-height: 30px;
    margin-left: 125px;
    
  
}
.lc{margin-left: -150px;  
}
.services span{ font-size: 45px;}
.services a{
  margin-left: 150px;
}
.contact-about-us1 img{
  margin-left: 50px;
  width: 70px;
  height: 70px;
}
.contact-about-us{
  display: grid;
  grid-template-columns: 350px 350px ;
  grid-auto-rows: 200px;
  grid-auto-rows: minmax(300px, auto);
  grid-column-gap: 20px;
  grid-row-gap: 5em;
  position: relative;
  font-size: 18px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  line-height: 30px;
  margin-left: 130px;
  

}
.contact-about-us img{
  margin-left: 105px;
  width: 80px;
  height: 80px;
}
.fon p{
  font-size: 26px;
  margin-left: 155px;
  text-align: left;
}
.fon a{
  margin-left: 50px;
}
#container{
  margin-top: -250px;
  margin-left: 550px;
  margin-bottom: 100px;
}
.programs{
  margin-left: 100px;

}
.contact-info{ font-size: 28px;}
.top_footer{
  margin-left: 90px;
}
.map{
  width: 350px !important;
  margin-left: 400px;
}

.footer p{
  margin-left: 205px;
  
}
#container1{margin-left: 12px;}
    .services h5{
      margin-left: 100px;
    }
    .services h1{
      margin-left: 100px;
    }
      }
    @media screen and (max-width: 768px){
  .fon a{ margin-top: -300px; margin-left: -105px;}
  .fon p{margin-left: 310px;}
  .programs{margin-left: 120px;}
  .top_footer{ width: 93%;}
  .footer{width: 114.5%;}
      .services{
          margin-left: -95px;
          width: 110%;
      }
      .services h1{
        margin-left: 130px;
      }
      .services h5{
        margin-left: 130px;
      }
      .burger-link span{
        color: #fff;
      }
      .burger-link{
        display: block;
      }
      .footer{
        margin-left: -80px;
      }
      
     
     .foot{
         margin-left: 35px;
     }
     .contact-info{
         margin-left: -80px;
         font-size: 13px;
     }
     .map{
         width: 60% !important;
         margin-top: 50px !important;
         margin-left: 40px !important;
     }
     
    }
    @media screen and (max-width: 640px) { .prog1{width: 150%;
      margin-left: -50px;}
      .fon{
        margin-top: -100px;
        width: 119.3%;
      }
     
      .fon a{ font-size: 12px; margin-left: 210px;}
      .slider{
        width: 109%;
      }
      .footer{width: 138.9%;}
      .top_footer{width: 100%;}
      .programs{
        margin-left: 190px;
      }
    .card{
      display:  grid;
      grid-template-columns: 350px ;
      
      grid-auto-rows: minmax(250px, auto);
  margin-left: 30px;
    font-size:18px ;
      position: relative;
     
      justify-content: center;
      margin-top: -80px;
    }
    .card p{
      margin-top: 10px;
      margin-left: 55px;
      font-size: 20px;
      
    }
    .card a{
      margin-left: -10px;
      font-size: 24px;
      
    }
    
    .bottom_info{
      display: grid;
      grid-template-columns: 200px;
      grid-auto-rows: 50px;
        grid-column-gap: 100px;
     margin-bottom: 100px;
      position: relative;
      justify-content: center;
      text-align: center;
      padding-top: 50px;
      margin-left: 30px;
     
      
  }
  .services h1{
 
    text-align: center;
    margin-left: 185px;
    font-size: 20px;
  }
  .services h5{
    margin-left: 190px;
  }
    .slider__slide-subheading{
      font-size: 12px;
      margin-left: 20px;
      text-align: center;
    }
   
   .footer{
     font-size: 12px;
     margin-left: -90px;
   }
 
    .map{
        margin-left: 40px;
        width: 80%;
        margin-top: 12px;
    }
   .contact-about-us1{
     margin-left: 180px;
   }
   .services1{
     margin-left: -110px;
     margin-top: -240px;
   }
.acserv span{
 margin-left: -45px;
 font-size: 42px;
 text-align: center;
}
    #container1{

line-height: 450px;

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 5;
margin-left: 10px;
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
    }
    #gr5{
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 5;
   height: 300px;
  -webkit-background-size: cover;
  -moz-background-size:  cover;
  -o-background-size: cover;
  background-size: cover;
    }
   
#service1{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 1;
  
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
}
#service2{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 2;
  
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
}
#service3{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 3;
  
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
}
#gr4{
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 4;
  
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
}
.contact-about-us1 p{
 font-size: 16px;
}

    .contact-about-us{
      display: grid;
      grid-template-columns: 300px ;
      grid-auto-rows: 200px;
      grid-auto-rows: minmax(300px, auto);
      grid-column-gap: 20px;
      grid-row-gap: 5em;
      position: relative;
      font-size: 18px;
      justify-content: center;
      padding-top: 50px;
      padding-bottom: 50px;
      line-height: 30px;
      margin-left: 300px;
      
    
    }
    .contact-about-us img{
      margin-left: 80px;
    }
  .contact-about-us p{
    font-size: 16px;
  }
  #container{margin-top: 10px; margin-left: 270px;}}
    @media screen and (max-width: 540px) {
        .prog1{width: 150%;
        margin-left: -50px;}
        .prog2{width:110px; margin-left:5px;}
        .prog3{width:140px; margin-left:5px !important;}
        .fon{
          margin-top: -100px;
          width: 119.3%;
        }
       .fon p{margin-left:150px;}
        .fon a{ font-size: 12px; margin-left: -100px;}
        .slider{
          width: 109%;
        }
        .footer{width: 138.9%;}
        .top_footer{width: 100%;}
        .programs{
          margin-left: 190px;
        }
      .card{
        display:  grid;
        grid-template-columns: 350px ;
        
        grid-auto-rows: minmax(250px, auto);
    margin-left: 30px;
      font-size:18px ;
        position: relative;
       
        justify-content: center;
        margin-top: -80px;
      }
      .card p{
        margin-top: 10px;
        margin-left: 55px;
        font-size: 20px;
        
      }
      .card a{
        margin-left: -10px;
        font-size: 24px;
        
      }
      
      .bottom_info{
        display: grid;
        grid-template-columns: 200px;
        grid-auto-rows: 50px;
          grid-column-gap: 100px;
       margin-bottom: 100px;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-left: 30px;
       
        
    }
    .services h1{
   
      text-align: center;
      margin-left: 185px;
      font-size: 20px;
    }
    .services h5{
      margin-left: 190px;
    }
      .slider__slide-subheading{
        font-size: 12px;
        margin-left: 20px;
        text-align: center;
      }
     
     .footer{
       font-size: 12px;
       margin-left: -90px;
     }
   
      .map{
          margin-left: 40px;
          width: 80%;
          margin-top: 12px;
      }
     .contact-about-us1{
       margin-left: 180px;
     }
     .services1{
       margin-left: -110px;
       margin-top: -240px;
     }
 .acserv span{
   margin-left: -45px;
   font-size: 42px;
   text-align: center;
 }
      #container1{

line-height: 450px;

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 5;
margin-left: 10px;
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
      }
      #gr5{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
     height: 300px;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
      }
     
  #service1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #gr4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
 .contact-about-us1 p{
   font-size: 16px;
 }
 
      .contact-about-us{
        display: grid;
        grid-template-columns: 300px ;
        grid-auto-rows: 200px;
        grid-auto-rows: minmax(300px, auto);
        grid-column-gap: 20px;
        grid-row-gap: 5em;
        position: relative;
        font-size: 18px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 30px;
        margin-left: 300px;
        
      
      }
      .contact-about-us img{
        margin-left: 80px;
      }
    .contact-about-us p{
      font-size: 16px;
    }
    #container{margin-top: 10px; margin-left: 270px;}
    }
  
    @media screen and (max-width: 425px) {
      .prog1{width: 210%;
        margin-left: -70px;}
        .prog3{
          margin-left: -35px;
        }
        .fon{
          margin-top: -100px;
          width: 127.5%;
        }
        .fon p{
          margin-left: 120px;
        }
        
        .fon a{ font-size: 14px; margin-left: -90px;}
        .slider{
          width: 114.5%;
        }
        .footer{width: 151%;}
        .top_footer{width: 105%;}
        .programs{
          margin-left: 200px;
        }
      .card{
        display:  grid;
        grid-template-columns: 350px ;
        
        grid-auto-rows: minmax(250px, auto);
    margin-left: 50px;
      font-size:18px ;
        position: relative;
       
        justify-content: center;
        margin-top: -80px;
      }
      .card p{
        margin-top: 10px;
        margin-left: 55px;
      }
      .card a{
        margin-left: -10px;
      }
      .bottom_info{
        display: grid;
        grid-template-columns: 200px;
        grid-auto-rows: 50px;
          grid-column-gap: 100px;
       margin-bottom: 100px;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-left: 50px;
       
        
    }
    .services h1{
   
      text-align: center;
      margin-left: 100px;
      width: 100%;
      font-size: 20px;
    }
    .services h5{
      margin-left: 210px;
    }
      .slider__slide-subheading{
        font-size: 12px;
        margin-left: 20px;
        text-align: center;
      }
     
     .footer{
       font-size: 12px;
       margin-left: -90px;
     }
   
      .map{
          margin-left: 40px;
          width: 80%;
          margin-top: 12px;
      }
     .contact-about-us1{
       margin-left: 200px;
     }
     .services1{
       margin-left: -110px;
       margin-top: -240px;
     }
 .acserv span{
   margin-left: -65px;
   font-size: 38px;
   text-align: center;
 }
      #container1{

line-height: 450px;

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 5;
margin-left: 10px;
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
      }
      #gr5{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
     height: 300px;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
      }
     
  #service1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #gr4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
 .contact-about-us1 p{
   font-size: 16px;
 }
 
      .contact-about-us{
        display: grid;
        grid-template-columns: 300px ;
        grid-auto-rows: 200px;
        grid-auto-rows: minmax(300px, auto);
        grid-column-gap: 20px;
        grid-row-gap: 5em;
        position: relative;
        font-size: 18px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 30px;
        margin-left: 320px;
        
      
      }
      .contact-about-us img{
        margin-left: 80px;
      }
    .contact-about-us p{
      font-size: 16px;
    }
    #container{margin-top: 10px; margin-left: 320px;}
    }
    
    
    @media screen and (max-width: 330px) {
      .prog1{width: 300px;
        margin-left: -70px;}
        .prog2{width: 100px;
          margin-left: 15px;
       }
        .prog3{
        margin-left: 15px;
          width: 100px;
        }
        .fon{
          margin-top: -100px;
          width: 157%;
        }
        .fon p{
          margin-left: 150px;
        }
        .fon a{ font-size: 14px; margin-left: -65px;}
        .slider{
          width: 143%;
        }
        .footer{width: 185%;}
        .top_footer{width: 133.5%; }
        .contact-info{font-size: 16px;}
        .programs{
          margin-left: 220px;
        }
      .card{
        display:  grid;
        grid-template-columns: 350px ;
        
        grid-auto-rows: minmax(250px, auto);
    margin-left: 140px;
      font-size:18px ;
        position: relative;
       
        justify-content: center;
        margin-top: -80px;
      }
      .card p{
        margin-top: 10px;
        margin-left: 55px;
      }
      .card a{
        margin-left: -10px;
      }
      .bottom_info{
        display: grid;
        grid-template-columns: 200px;
        grid-auto-rows: 50px;
          grid-column-gap: 100px;
       margin-bottom: 100px;
        position: relative;
        justify-content: center;
        text-align: center;
        padding-top: 50px;
        margin-left: 140px;
       
        
    }
    .services h1{
   
      text-align: center;
      margin-left: 155px;
      font-size: 20px;
      width: 100%;
    }
    .services h5{
      margin-left: 280px;
    }
      .slider__slide-subheading{
        font-size: 12px;
        margin-left: 20px;
        text-align: center;
      }
     
     .footer{
       font-size: 12px;
       margin-left: -90px;
     }
   
      .map{
          margin-left: 40px;
          width: 80%;
          margin-top: 12px;
      }
     .contact-about-us1{
       margin-left: 300px;
     }
     .services1{
       margin-left: -110px;
       margin-top: -240px;
     }
 .acserv span{
   margin-left: -45px;
   font-size: 38px;
   text-align: center;
 }
      #container1{

line-height: 450px;

grid-column-start: 2;
grid-column-end: 3;
grid-row-start: 5;
grid-row-end: 5;
margin-left: 10px;
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
      }
      #gr5{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 5;
        grid-row-end: 5;
     height: 300px;
    -webkit-background-size: cover;
    -moz-background-size:  cover;
    -o-background-size: cover;
    background-size: cover;
      }
     
  #service1{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 2;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #service3{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
  #gr4{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
    
-webkit-background-size: cover;
-moz-background-size:  cover;
-o-background-size: cover;
background-size: cover;
  }
 .contact-about-us1 p{
   font-size: 16px;
 }
 
      .contact-about-us{
        display: grid;
        grid-template-columns: 300px ;
        grid-auto-rows: 200px;
        grid-auto-rows: minmax(300px, auto);
        grid-column-gap: 20px;
        grid-row-gap: 5em;
        position: relative;
        font-size: 18px;
        justify-content: center;
        padding-top: 50px;
        padding-bottom: 50px;
        line-height: 30px;
        margin-left: 400px;
        
      
      }
      .contact-about-us img{
        margin-left: 80px;
      }
    .contact-about-us p{
      font-size: 16px;
    }
    #container{margin-top: 10px; margin-left: 210px;width: 100%;}
    }
    
    
       .footer{
         font-size: 12px;
         margin-left: -90px;
       }
       
    
    
        .map{
            margin-left: 40px;
            width: 80%;
            margin-top: 12px;
        }
       
    
    @media screen and(max-height: 650px ){
      
    }
    @media screen and (max-height: 500px) and (max-width: 1000px){
    
      .main-information{
          top: 70%;
      }
      .social{
          top: 180%;
      }
    }
    
     