.nav-menu{

    width: 20%;

    

    }

    
    .social-link{
      font-size: 26px;
      margin-top: -25px;
      margin-right: 40px;
      float: right;
    }
    .social-link i:hover{
      color: #F60018;
  
      transition: .5s;
    }
  
    .nav-item{

    padding:0 10px;

    }

    .nav-link{

      text-decoration: none;

      color: #e01533;

      font-size:16px;

      border-bottom: 2px solid transparent;

      transition: .3s;

      font-weight: bold;

    }

    .nav-link:hover{

      border-bottom: 2px solid #e01533;

    

    }

    

    @keyframes place{

      0%{

          margin-top: -5px;

      }

      50%{

          margin-top: 5px;

      }

      100%{

          margin-top: -5px;

      }

    

    }

    .burger-link{

      display: none;

      position: relative;

      top: 40%;

     left: 1%;

      height: 40px;

      width: 40px;

      border-radius: 50%;

    

      background: #fff;

      z-index: 100;

    

    }

    .burger-link span, .burger-link span:before, .burger-link span:after{

      display: block;

      height: 2px;

      width: 18px;

      background-color: #000;

      position: absolute;

      top: 50%;

      left: 50%;

      margin-left: -9px;

      margin-top: 0;

    }

    .burger-link span:before{

    transition: all .3s;

    margin-top: -6px;

    content: '';    

    }

    .burger-link span::after{

      transition: all .3s;

      margin-top: 4px;

      content: '';    

    }

    .burger-link_active span:before{

     transform: rotate(45deg);

     margin-top: 0;

    }

    .burger-link_active span:after{

      transform: rotate(-45deg);

      margin-top: 0;

    }

    .burger-link_active span{

    background:transparent;

    }

    

    .mobile-nav{

       position: absolute;

       display: flex;

       justify-content: left;

       align-items: left;

       width: 24%;

       height: 120vh;

       margin-top: -60px;

       background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url(../img/photo2.jpg);

       transition: .5s;

       z-index: 99;

       left: -100%;

    }

    .nav-active{

       left: 0;

    }

    .mobile-menu{

       list-style: none;

       text-align: center;

       margin-top: 70px;

    }

    .menu-item{

       display: flex;

       justify-content: left;

       align-items: left;

       margin: 30px;

       

    

    }

    

    .menu-link{

       color: #fff;

       font-size: 18px;

       letter-spacing: 1px;

      text-decoration: none;

      z-index: 1;

      margin-left: -15px;

    }

    .menu-item span{

      color: #FFB300;

      margin-left: 5px;

      

    }

    .menu-item i{

      color: #FFB300;

      margin-left: -15px;

    }

    @media screen and (max-width:1960px){ #movieposters{margin-left: 200px;}}

    @media screen and (max-width:1650px){

      .img2{

        margin-left: 37px !important;

      width: 44.5% !important;

      height: 33.3% !important;

          }

          #movieposters{margin-left: 100px;}

         #service-text{

             font-size: 24px;

             text-align: center;

             width: 83.5%;

             margin-left: 110px;

         }

         .lc{

           margin-left: -28px;

           padding-bottom: 20px;

         }

        .nav3{

          width: 100%;

          margin-left: 40px;
          

        }

        .nav2{

          margin-left: -40px !important;
          font-size: 17px;

        }

     

        .nav3 p{

          margin-right: 200px;

        }

        

        .text_p{

          width: 100%;

          margin-left: 105px;

          font-size: 22px;

          

          }

          .form{

            margin-left: 280px;

          }

          .footer span{

            margin-left: 100px;

          }

          #men{

            margin-left: 320px;  

          }

          .map{

              width: 40%;

              margin-left: 700px;

          }

    }

    @media screen and (max-width:1460px){}

    .img1{

      left: -5px;

    }

    .lc{

      padding-bottom: 20px;

      margin-left: -10px;

    }

   #movieposters{margin-left: 20px;}

    .img2{

    margin-left: 15px !important;

    width: 56% !important;

    height: 49% !important; 

    }

    .text_p{

      max-width: 100%;

      margin-left: 70px;

      font-size: 18px;

      

      }

      #men{

        margin-left: 330px;

      }

     

      .nav3 {

        max-width: 100%;

        margin-left:-38px;

        left: calc(50% -820px);

        }

        .nav3 p{

          margin-left: -35px;

        }

      .nav2{

        max-width: 90%;

        margin-top: -22px;

    left:-95px;

    left: calc(50% - 620px);

    

    

        }

        

    @media screen and (max-width:1300px){

      .nav{

        grid-template-columns: 1fr;

      }

      .img1{

        left: -20px;

      }

      .lc{

        padding-bottom: 20px;

        margin-left: -80px;

      }

      .img2{

    margin-left: -5px;

      }

      .text_p{

        max-width: 65%;

        margin-left: 105px;

        font-size: 18px;

        

        }

        .nav2{

          max-width: 90%;

    left:-85px;

    left: calc(50% - 600px);

    

          }

          .nav3 {

            max-width: 95%;

            margin-left:-63px;

            left: calc(50% - 520px);

            }

      

    }

    @media screen and (max-width: 1370px){

      .nav2{ margin-left: 10px;}

      .nav3 p{ margin-left: -30px;}

      #men{

          margin-left: 280px;

      }
      .img2{height:60% !important;}

    }

    @media screen and (max-width: 1280px){

      .img1{

        left: -30px;

        width: 20%;

        margin-top: 10px;

      }

      .lc{

        padding-bottom: 20px;

        

      }

      .burger-link{

            margin-top: 40px;

          }

      .img2{

    margin-left: -19px !important;

    width: 47.4% !important;

    height: 42.2% !important;

      }

      .text_p{

        max-width: 65%;

        margin-left: 55px;

        font-size: 15px;

        

        }

      .nav{

        max-width: 80%;

        font-size: 16px;

        

        }

        .nav2{

          max-width: 90%;

      

          font-size:15.5px;

          

                left: calc(50% - 755px);

          

          }

          .nav2 a{

            margin-left: 73px;

          }

          .nav3 {

            max-width: 85%;

            font-size:14px;

            margin-left:-140px;

            left: calc(50% - 706px);

            margin-bottom: 45px;

          }

          .tic h1{

            font-size: 28px;

          }

    

     .nav3 i{

       margin-left: -50px;

     }

     .nav3 p{

       margin-right: 150px;

     }

     .form{

      margin-left: 70px;

    }

    .payroll{

        margin-top: 1380px;

        

    }

    .reference{

        margin-top: 240px;

        margin-left: 500px;

    }

    .company_accounts{

        margin-top: 1300px;

        margin-left: 280px;

    }

    .top_footer{

        margin-top: 1000px;

    }

     

    .map{

        width: 30%;

        margin-left: 680px;

    }

    #movieposters{

        display: grid;

        grid-template-columns: 450px 450px;

        grid-auto-rows: 10px;

        grid-auto-rows: minmax(10px, auto);

        grid-column-gap: 10px;

        grid-row-gap: 1em; 

   margin-left: 30px;

      }

    }

      @media screen and (max-width: 1136px){

         

          .navigation{

    

    margin-top: -300px;

    font-size: 0.1px;

    width: 0.1%;

          }

           .burger-link span{

        color: #fff;

      }

      .burger-link{

        display: block;

      }

          .lc{

            padding-bottom: 20px;

            margin-left: -80px;

          }

         .form{

           margin-left: 20px;

         }

          .burger-link{

            margin-top: 30px;

          }

    .tic{

      margin-top: -100px;

    }

    .ribbon1{

      margin-left: 280px;

    }

   

         

    

      }

    @media screen and (max-width: 820px){

      .ribbon1{

        width: 45%;

        margin-left: 75px;

      }

      #wrapper{ margin-left: 20px;}

      .services{

          margin-left: -80px;

          width: 110%;

      }

      .lc{

      margin-left: -10px;}

      .reference{

          margin-top: 215px;

          margin-left: 370px;

      }

      .payroll{

          margin-top: 1350px;

      }

      .form{

        margin-left: 4px;

      }

      .company_accounts{

          margin-top: 1300px;

          margin-left: 200px;

        

      }

      .burger-link span{

        color: #fff;

      }

      .burger-link{

        display: block;

      }

      .footer{

        margin-left: -80px;

      }

      #men{

        margin-left: 20px;

      }

      #movieposters{

        display: grid;

        grid-template-columns: 350px 350px;

    

        grid-auto-rows: 10px;

        grid-auto-rows: minmax(10px, auto);

        grid-column-gap: 10px;

        grid-row-gap: 5em; 

   margin-left: -90px;

      }

      .top_footer{

          margin-top: 1100px;

      }

     #employment{

         margin-top: 800px;

        

     }

     .foot{

         margin-left: 35px;

     }

     .contact-info{

         margin-left: -80px;

         font-size: 12px;

     }

     .map{

         width: 38%;

         

         margin-left: 410px;

     }

     

    }

    @media screen and (max-width: 640px) {

        

      .reference{

        margin-top: 2100px; margin-left: -20px;

        

      }

      .lc span{margin-left: -1px; font-size: 55px; width: 120%;}

      .ribbon{height: 40px; margin-top: 30px; }

      .tic{ width: 102.5%;}

      .tic p{

        margin-top: -20px;

      }

      .ribbon1 p{

        margin-left: 25px;

      }

      .tic h1{

       font-size: 22px;

      margin-bottom: -15px;

      }

      #service-text{margin-left: 100px;}

      .ribbon1{height: 40px;right: 100px; width: 70%;}

      .top_footer{

          margin-top: 3200px;

      }

      .tax_invest{

          margin-top: 480px; margin-left: -20px;

      }

     .footer{

       font-size: 12px;

       margin-left: -90px;

     }

     .vat{

         margin-top: 480px; margin-left: -20px;

     }

     .cis{

         margin-top: 1500px; margin-left: -20px;

     }

     #men{

         width: 90%;

         margin-left: 15px;

     }

    .compliance{

      margin-top: 430px; margin-left: -20px;

    }.payroll{

      margin-top: 2150px; margin-left: -20px;

    }

    .company_accounts{

      margin-top: 2120px;

      margin-left: -20px;

    }

     #movieposters{

        display: grid;

        

        grid-template-columns: 100px;

        grid-auto-rows: 10px;

        grid-auto-rows: minmax(10px, auto);

        grid-column-gap: 10px;

        grid-row-gap: 32em; 

   margin-left: -50px;

      }

      .bookkeeping{

        margin-left: -20px;

      }

      #employment{

          margin-top: 1100px;

          margin-left: 10px;

      }

      .map{

          margin-left: 40px;

          width: 80%;

          margin-top: 12px;

      }

      .self{margin-left: -20px;}

      .movie{ padding-top: 420px;}

    }

    @media screen and (max-width: 430px) {

        #movieposters{

            display: grid;

           

            grid-template-columns: 100px;

            grid-auto-rows: 10px;

            grid-auto-rows: minmax(10px, auto);

            grid-column-gap: 10px;

            grid-row-gap: 35em; 

       margin-left: -90px;

          }

          .lc span{margin-left: -45px; font-size: 45px; width: 130%;}

          .bookkeeping{

            margin-left: 30px;

          }

          .self{margin-left: 30px;}

          .tax_invest{margin-left: 30px; margin-top: 560px;}

          .vat{margin-left: 30px; margin-top: 550px;}

          .compliance{margin-left: 30px; margin-top: 550px;}

          .cis{margin-left: 30px; margin-top: 1690px;}

          .payroll{margin-left: 30px; margin-top: 2230px; }

          .company_accounts{margin-left: 30px; margin-top: 2230px;}

          .reference{margin-left: 30px; margin-top: 2230px;}

          .tic{width: 119%;}

          #service-text{ margin-left: 120px;}

          .ribbon1{height: 40px;right: 100px; width: 80%;}

          .top_footer{

            margin-top: 3400px;

            width: 119%;

          }

          .footer{width: 140%;}



    }

    @media screen and (max-width: 360px) {

        #movieposters{

            display: grid;

          

            grid-template-columns: 100px;

            grid-auto-rows: 10px;

            grid-auto-rows: minmax(10px, auto);

            grid-column-gap: 10px;

            grid-row-gap: 25em; 

       margin-left: -80px;

          }

          .lc span{margin-left: -125px; font-size: 45px; width: 140%;}

          .reference{

            margin-top: 1120px;

           

          }

          .movie{ padding-top: 520px;}

          #employment{

            margin-top: 0px;

            margin-left: 10px;

        }

        

          #movieposters img{

              width: 250px;

              height: 250px;

          }

          .movieinfo{

              width: 200px;

              height: 200px;

          }

          .top_footer{

            margin-top: 1800px;

            width: 136%;

        }

        .tax_invest{

            margin-top: 220px;

        }

       .footer{

         font-size: 12px;

         margin-left: -90px;

         width: 164%;

        

       }

       .vat{

           margin-top: 180px;

       }

       .cis{

           margin-top: 820px;

       }

       #men{

           width: 90%;

           margin-left: 15px;

       }

      .compliance{

        margin-top: 1px;

      }.payroll{

        margin-top: 1500px;

      }

      .company_accounts{

        margin-top: 1320px;

        

      }

      #service-text{ margin-left: 150px;}

       #movieposters{

          display: grid;

          

          grid-template-columns: 100px;

          grid-auto-rows: 10px;

          grid-auto-rows: minmax(10px, auto);

          grid-column-gap: 10px;

          grid-row-gap: 35em; 

     margin-left: -80px;

     font-size: 12px;

        }

        #employment{

            margin-top: 1100px;

            margin-left: 10px;

        }

        .map{

            margin-left: 40px;

            width: 80%;

            margin-top: 12px;

        }

        .self{margin-top: -30px;}

        .movie{ padding-top: 420px;}

        .tic{width: 135.2%;}

      }

    

    @media screen and(max-height: 650px ){

      

    }

    @media screen and (max-height: 500px) and (max-width: 1000px){

    

      .main-information{

          top: 70%;

      }

      .social{

          top: 180%;

      }

    }

    

     